.burger {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1em;
    height: 60px;
    width: 60px;
    background-color: $btn-color;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 15px 15px 20px #2e2e2e2e;
    overflow: visible;


    &__wrap {
        position: relative;
        top: -7px;
        left: -1px;
        width: 30px;
        height: 30px;
        overflow: visible;
    }

    &__bars {
        content: "";
        position: absolute;
        right: 0;
        top: 20px;
        height: 3px;
        width: 100%;
        background-color: black;


        &-close {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            height: 3px;
            width: 100%;
            background-color: black;
            transform: rotate(45deg);
            display: none;


            &::after {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                height: 3px;
                width: 100%;
                background-color: black;
                transform: rotate(90deg);

            }
        }

        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -10px;
            height: 3px;
            width: 100%;
            background-color: black;

        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 10px;
            height: 3px;
            width: 100%;
            background-color: black;

        }

    }

    &:hover {
        .burger__bars::before {
            top: -11px;

        }

        .burger__bars::after {
            top: 11px;
            height: 3px;
        }
    }


}