@mixin navEffect {
    content: '';
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: $winter-color;
}

@mixin aboutFont {
    font-size: 8rem;
    text-align: center;
    line-height: 16rem;
}

@mixin btnGray {
    position: relative;
    margin-top: 1.8em;
    padding: 1em 1.8em;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: $btn-color;
    box-shadow: 15px 15px 20px #2e2e2e2e;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    font-weight: 700;
}

@mixin glassEffect {
    content: '';
    position: absolute;
    display: block;
    top: -25px;
    left: -130px;
    height: 160%;
    width: 100px;
    background-image: linear-gradient(-90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    transform: rotate(20deg);
    cursor: pointer;
    transition: .5s;
}