.offer {
    position: relative;
    min-height: 100vh;
    padding-bottom: 13em;
    overflow: hidden;

    &__title {
        transition: letter-spacing .3s;
        color: $bad-color;
    }

    &__cards {
        margin-bottom: 5em;

    }

    &__card {
        position: relative;
        margin: 1em .5em;
        height: 450px;
        color: $winter-color;
        text-align: center;
        perspective: 1000px;
        z-index: 11;

        &:hover {
            .offer__card-img {
                transform: rotateX(-180deg);
                opacity: 0;
            }

            .offer__card-info {
                transform: rotateX(0);
                opacity: 1;
            }
        }

        &-img {
            padding: 2em;
            height: 100%;
            border-radius: 8px;
            background-size: cover;
            transition: transform 1s, opacity 1s;
            background-size: cover;
            background-position: center;

            &--people {
                background-image: $card-gradient, url('../img/card-one.jpg');
            }

            &--animals {
                background-image: $card-gradient, url('../img/card-two.jpg');
            }

            &--things {
                background-image: $card-gradient, url('../img/card-three.jpg');
                margin-bottom: 2em;
            }


            &-title {
                font-size: 2.8rem;
                text-transform: uppercase;
            }

            &-info {
                position: absolute;
                bottom: 8%;
                right: 50%;


                i {
                    position: absolute;
                    margin-right: 0.3em;
                    font-size: 2.8rem;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }

        &-info {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $btn-color;
            border-radius: 8px;
            opacity: 0;
            color: $bad-color;
            transform: rotateX(180deg);
            transition: transform 1s, opacity 1s;
            text-transform: uppercase;

            &-title {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top: 1.2em;
                font-size: 2.8rem;
            }

            &-list {
                margin: 0 auto;
                width: 70%;
                list-style: none;


                &-item {
                    display: flex;
                    justify-content: space-between;
                    padding: 1em;
                    font-size: 1.4rem;
                    border-bottom: 1px solid rgb(185, 178, 178);
                    text-align: left;
                    font-weight: 700;

                    span {

                        text-align: right;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }

            &-btn {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: 2em;
                padding: 1em;
                border-radius: 8px;
                width: 80%;
                border: none;
                background-color: $main-color;
                cursor: pointer;
                overflow: hidden;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: 700;
                color: $winter-color;

                &:hover {

                    &::before {
                        left: 130%;
                    }

                }

                &::before {
                    @include glassEffect;
                    height: 200%;
                    background-image: linear-gradient(-90deg, rgb(216, 214, 214), rgba(255, 255, 255, 0));

                }
            }

            &-text {
                padding: 0.5em;
                font-weight: bold;
            }
        }
    }
}

@media(min-width:576) {}

@media(min-width:768px) {
    .offer {
        &__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-bottom: 12em;
        }

        &__card {
            margin: 1em;
            width: 45%;
        }
    }

}

@media(min-width:1100px) {
    .offer {
        &__card {
            width: 30%;
        }
    }
}