$main-color:rgb(44, 156, 63);
$secondary-color:rgb(56, 177, 76);
$btn-color:rgb(238, 235, 235);
$winter-color:#fff;
$bad-color:#000;
$card-gradient: linear-gradient(45deg, rgba(50, 122, 35, 0.75), rgba(86, 147, 197, 0.75));
$diff-gradient: linear-gradient(45deg, rgba(90, 90, 90, 0.75), rgba(91, 91, 92, 0.75));